@charset "utf-8";

button{
  color: white;
  border-radius: 10px;
}

button + button{
  margin-left: 10px;
}

.button1{
  background: blue;
}

.button2{
  background: red;
}

.button3{
  background: orange;
}

.button4{
  background-color: darkgray;
}

.button5{
  background: green;
}